<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<title>theblog</title>
	</head>

	<body>
		<div id="top-wrapper">
			<div id="titleblock-front">
				the<font style="color:white">blog</font>
			</div>

			<div id="nav-bar-top">
				<div id="welcome_username">
					welcome, {{username}}
				</div>
				<div id="logout">
					<a href="logout">logout</a>
				</div>
			</div>
		</div>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>