{% extends "frontdoor.html" %}

{% block content %}

<div id="loginframe">
	<form method="post">
		<input class="input" id="username-textbox" type="text" name="username" value={{username}}>
		<div class="labels" id="username-label">username</div>

		<input class="input" id="password-textbox" type="password" name="password" value={{password}}>
		<div class="labels" id="password-label">password</div>
		
		<div id="login-error">{{login_error}}</div>
		
		<input id="login-button" type="submit" value="login">
	</form>

	<div id="signup-redirect">
		don't have an account? click <a href="signup" style="color: white; text-decoration: none; font-weight: normal;">here</a> to signup
	</div>
</div>

{% endblock %}
