{% extends "base.html" %}

{% block content %}

<form method="post">
	<label>
		User Name
		<input type="text" name="username" value={{username}}>
		<div style="color: red">{{username_error}}</div>
	</label>
	<br>
	<label>
		Password
		<input type="password" name="password" value={{password}}>
		<div style="color: red">{{pw_error}}</div>
	</label>
	<br>
	<label>
		Verify Password
		<input type="password" name="password_verify" value={{password_verify}}>
		<div style="color: red">{{pw_v_error}}</div>
	</label>
	<br>
	<label>
		Email (Optional)
		<input type="text" name="email" value={{email}}>
		<div style="color: red">{{email_error}}</div>
	</label>
	<br><br>
	<input type="submit">
</form>

Already have an account? Click <a href="login">here</a> to login

{% endblock %}
