{% extends "frontdoor.html" %}

{% block content %}

<div id="signupframe">
	<form method="post">
		<input class="input" id="username-textbox" type="text" name="username" value={{username}}>
		<div class="labels" id="username-label">username</div>
		<div class="error-msg" id="username-error">{{username_error}}</div>
		
		<input class="input" id="password-textbox" type="password" name="password" value={{password}}>
		<div class="labels" id="password-label">password</div>
		<div class="error-msg" id="password-error">{{pw_error}}</div>

		<input class="input" id="password-verify-textbox" type="password" name="password_verify" value={{password_verify}}>
		<div class="labels" id="password-verify-label">re-type password</div>
		<div class="error-msg" id="password-verify-error">{{pw_v_error}}</div>
		
		<input class="input" id="email-textbox" type="text" name="email" value={{email}}>
		<div class="labels" id="email-label">email (optional)</div>
		<div class="error-msg" id="email-error">{{email_error}}</div>

		<input id="signup-button" type="submit" value="signup">
	</form>
	
	<div id="login-redirect">
		already have an account? click <a href="login" style="color: white; text-decoration: none; font-weight: normal;">here</a> to login
	</div>
</div>

{% endblock %}
